span {
    background-color: #5A734F;
    color: #F2F2F2;
}


h1 {
    color: #5A734F;
    padding-top: 15px;
}

body {
    background-image: url("../Assets/Pictures/background-flower.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}

nav,
#about-me, 
#portfolio {
    background-color: #F2F2F2;
}

#about-me,
#portfolio {
    margin: 0 20px;
    padding: 0 30px;
}

#about-me img {
    float: left;
    padding-right: 20px;
}

#portfolio img {
    padding: 20px 0 20px 0;
}

p {
    color: #444;
}

.footer {
    background-color:#8C8B88;
} 

@media only screen and (min-width:992px) {
    .img-float {
        float: right;
        }
}