/* custom css styling not using bootstrap css */
nav span {
    background-color: #5A734F;
    font-family: 'Averia Serif Libre', cursive;
}

h1 {
    color: #5A734F;
    font-family: 'Averia Serif Libre', cursive;
}

body {
    background-color: #faf3c0 !important;
}

nav,
#about-me, 
#portfolio,
#contact {
    background-color: #F2F2F2;
}

p {
    color: #444;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px; 
    background-color: #999;
}


